@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0; 
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
}
.titulo-destaque {
    color: #22D4FD;

}
.conteudo {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo-apresentacao {
    width: 615px;

}

.conteudo-apresentacao-titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.conteudo-apresentacao-texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;;
}

.imga {
    width: 488px;
    height: 550px;
}
