@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0; 
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #901900;
    color: aliceblue;
}
.titulo-destaque {
    color: #3d9cb9;

}
.conteudo {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.conteudo-apresentacao {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.cabecalho {
    color: #F6F6F6;
    background-color: #004d8e;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.conteudo-apresentacao-titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    
}

.conteudo-apresentacao-titulo2 {
    font-size: 20px;
    font-family: 'Krona One', sans-serif;
    
}

.conteudo-apresentacao-titulo3 {
    font-size: 16px;
    font-family: 'Krona One', sans-serif;
    
}

.cabecalho-menu-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #F6F6F6;
    text-decoration: none;
}

.conteudo-apresentacao-texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.imga {
    width: 488px;
    height: 550px;
}

.index-botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.index-botao-sub {
    font-family: 'krona one', 'sans-serif';
    font-weight: 400;
    font-size: 24px;
}

.index-botao-link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #3d9cb9;
    width: 378px;
    padding: 21.5px 0;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.index-botao-link:hover {
    background-color: #ff6500;
}

.rodape {
    color: #F6F6F6;
    background-color: #004d8e;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 24px;
}