@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor1: #17181f;
    --cor2: #ebe68d;
    --cor3: #0b8770;
    --cor4: #a6c288;
    --cor5: #314d4a;

    --font1:'Montserrat', sans-serif;
    --font2:'Krona One', sans-serif;

}

* {
    margin: 0;
    padding: 0; 
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor1);
    color: var(--cor2);
}
.titulo-destaque {
    color: var(--cor4)

}
.conteudo {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.conteudo-apresentacao {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.cabecalho {
    color: var(--cor2);
    background-color: var(--cor3);
    text-align: center;
    font-family: var(--font1);
    font-size: 24px;
    font-weight: 400;
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.conteudo-apresentacao-titulo {
    font-size: 36px;
    font-family: var(--font2);
    
}

.conteudo-apresentacao-titulo2 {
    font-size: 20px;
    font-family: var(--font2);
    
}

.conteudo-apresentacao-titulo3 {
    font-size: 16px;
    font-family: var(--font2);
    
}

.cabecalho-menu-link {
    font-family: var(--font1);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor2);
    text-decoration: none;
}

.conteudo-apresentacao-texto {
    font-size: 24px;
    font-family: var(--font1);
}

.imga {
    width: 488px;
    height: 550px;
}

.index-botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.index-botao-sub {
    font-family: var(--font2);
    font-weight: 400;
    font-size: 24px;
}

.index-botao-link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor4);
    width: 378px;
    padding: 21.5px 0;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: var(--cor2);
    font-family: var(--font1);
    font-weight: 600;
}

.index-botao-link:hover {
    background-color: var(--cor5);
}

.rodape {
    color: var(--cor2);
    background-color: var(--cor3);
    text-align: center;
    font-family: var(--font1);
    font-size: 24px;
    font-weight: 400;
    padding: 24px;
}